* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

body {
  background: radial-gradient(circle at top, #2d004d, #12001f);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 70px;
}

.navbar h1 {
  font-size: 26px;
  color: #d9a7ff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.navbar ul li a {
  text-decoration: none;
  color: #eee;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: #d9a7ff;
}

/* HERO */
.hero {
  min-height: 88vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
}

.hero-text {
  max-width: 48%;
}

.hero-text h2 {
  font-size: 50px;
  margin-bottom: 18px;
  line-height: 1.2;
}

.hero-text p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 35px;
}

.btn {
  padding: 14px 34px;
  background: linear-gradient(135deg, #7b2cbf, #e0aaff);
  border-radius: 40px;
  text-decoration: none;
  color: #1a002e;
  font-weight: 700;
  box-shadow: 0 0 25px rgba(224, 170, 255, 0.6);
}

.btn:hover {
  transform: scale(1.07);
}

/* IMAGE */
.hero-image img {
  width: 520px;
  max-width: 100%;
  filter: drop-shadow(0 0 45px rgba(224, 170, 255, 0.7));
}
